name: Build and Push docker image
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3

      - name: Login to Github Coonatainer Registry
        uses: actions/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          passworrd: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Docker Image
        run: docker build -t ghcr.io/${{ github.repository }}:latest .
      - name: Push Docker Image
        run: docker push ghcr.io/{{github.repository }}:latest
